html, body {
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;	
}

#title-navbar {
	width: 90%;
	margin: 0 auto;
	text-transform: uppercase;
	z-index: 2; 
}


#title {
	width: 100%;
	font-family: "Knockout-HTF48-Featherweight", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	font-size: 4em;
	text-align: left;
	color: white;
	background-color: #000;
	margin: 0px;
	font-size: 80px;
	line-height: 31px;
	padding: .5em 5% .7em;
	letter-spacing: 1px;
}

#logo {
	width:25%;
	padding: 0px;
	margin: 0px;
}


#title-navbar {
	position: absolute;
	top: 0px;
	width: 100%;
}

#navbar {
	display: block;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: .7em 10% 1.20em;
	background-color: #fff;
	z-index: 3;
	border: 0px blue solid;
}

#navbar li{
	font-family: "Knockout-HTF51-Middleweight", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	text-transform: uppercase;
	display: inline-block;
	width: 20%;
	text-align: center;
	padding-top: 0.2em;
}

#navbar li a {
	text-decoration: none;
	line-height: 1em;
	padding: .1em;
	font-size: 24px;
	color: #000;
}

#navbar li a.active {
	color: #f00;
}

/*
 * Hooks and Stories
 */

 #hooks {
 	position: absolute;
 	width: 100%;
 	top: 13.3em;
 }

 .hook-bg {
 	width:100%;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-repeat: no-repeat;
	background-size: 102%;
	background-position: -5px 0;
	z-index: -1;
 }

 .arrow-container {
 	background-color: #f4f4f4;
 	width: 100%;
 	height: 42px;
 	top: 0px;
 	text-align: center;
 	font-size: 30px;
 }

 .arrow {
 	-webkit-transform:rotate(-90deg); 
 	 transform: rotate(-90deg);
 	display: inline-block;
 }




.hook-body {
	vertical-align: top;
}

.column-left, .column {
	display: inline-block;
	vertical-align: top;
}

.column-left {
	width: 50%;
	padding-left: 5em;
	padding-top: 2em;
	padding-bottom: 10%;
}

h2 {
	margin-top: 0;
	margin-bottom: 0.2em;
	color: red;
	font-size: 42px;
}

.column-left p, a {
	color: #000;
	font-size: 18px;
	margin-top: 0;
}

.column ul {
	list-style: none;
	color:#000;
}

.column li {
	margin-bottom: .5em;
}

.column ul li a {
	text-decoration: none;
	line-height: .5em;
	color: #f00;
	padding-bottom: .5em;
}

.column ul li a:hover {
	text-decoration: underline;
}

h2, h3 {
	font-family: "Knockout";
	font-weight: 100;
}

h3 {
	font-size: 24px;
	margin: 0;
}

.column {
	font-size: 16px;
	line-height: 18px;
	width: 25%;

	border-left: 1px solid black;
	padding-left: 1.5em;
	min-height: 16em;

	margin-top: 3.15em;
	margin-bottom: 3em;
	margin-left: 10%;
}

.column p {
	font-style: italic;
}

@media only screen and (max-width: 1160px) {
	
	#logo {
		width:30%;
	}

	#navbar {
		padding-left: 0;
	}
	
	#navbar li {
		width: 48%;
		margin-bottom: 1em;
	}

	#hooks {
		top: 16em;
	}
}


@media only screen and (max-width: 740px) {

	#title {
		padding: .3em 5% .5em;
	}

	#logo {
		width:50%;
	}

	#navbar {
		padding-left: 0;
	}
	#navbar li {
		width: 48%;
		margin-bottom: 1em;
	}

	#hooks {
		top: 13.8em;
	}

	.hook-body {
		width: 100%

	}

	.column-left, .column {
		width: 100%;
		padding: 1em 1em 0 1em;
		margin: 1em 1em 0 1em;
		border: none;
	}

	.column-left p {
		width: 80%;
	}

	.column-left h2 {
		width: 75%;
	}

	.column p {

		font-size: 1.1em;
		width: 80%;
	}

	.column ul {
		padding: 0;
		height: 74px;
	}

}


@media only screen and (max-width: 480px) {
	#hooks{
		top: 15.3em;
	}

	.hook-body{
		display: block;
	}

	.column {
		border: none;
		width: 80%;
	}
}
